* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  background: #fff;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: DM Serif Display;
}

a,
a:active,
a:focus {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: capitalize;
}
p {
  margin: 0;
  font-size: 14px;
}
img {
  border: none;
  height: auto;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  list-style: none;
}
select,
input,
textarea {
  box-shadow: none;
  outline: 0 !important;
}

html,
body {
  height: 100%;
  position: relative;
  z-index: 2;
}
[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease;
  -moz-transition: opacity 0.3s 0.3s ease;
  -ms-transition: opacity 0.3s 0.3s ease;
  -o-transition: opacity 0.3s 0.3s ease;
  transition: opacity 0.3s 0.3s ease;
  opacity: 0;
}

.sub-header {
  background-color: #3d3c3c;
  height: 3vw;
}

.idesign-exclusive {
  background: linear-gradient(95.39deg, #2cbf81 0%, #217e57 102.31%);
  padding: 11px;
  color: white;
}

.renovate {
  background-image: url("/Users/shikhatomar/Downloads/Shikha/Idesign Final/idhtml/assets/images/home/renovate.png");
  height: 100vh;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.home-renovate h2 {
  font-size: 52px;
  margin-top: 82px;
  line-height: 71.29px;
}

.design-professional {
  background: #3b5998;
}
.desiprof {
  margin-top: 100px;
}

.imphome {
  background: #ebecff;
}

.exproject img {
  max-width: 100%;
}

.call-d{
  background: linear-gradient(265.12deg, #142F69 -3.8%, #4364A8 115.8%);
}

.whatsapp{
  background: linear-gradient(266.21deg, #00E676 2.2%, rgba(3, 142, 74, 0.71) 110.63%);
}

.w2-card-2 img {
  width: 100%;
  height: 192px;
  object-fit: cover;
}

.w2-card-2 h5 {
  padding: 15px 0;
  text-align: center;
}

.box2 {
  padding: 77px 0;
  text-align: center;
  background: #3d3c3c;
}

.box3 img {
  width: 100%;
  height: 105px;
}

.w3-container {
  background: #3d3c3c;
}

.designer-btn {
  color: #3b5998;
  background: rgba(59, 89, 152, 0.2);
  border: 1px solid #3b5998 !important;
}

.contractor-btn {
  color: #c92626;
  background: rgba(201, 38, 38, 0.12);
  border: 1px solid #c92626 !important;
}

.submit-btn {
  background: #2cbf81;
}
.yellow {
  background: #e4d4414d;
  color: #c5b310;
  width: 15%;
}

.blue {
  background: #3b5998;
}

.sky {
  background: #1fc2d9;
}

.green {
  background: #2cbf81;
}

.green-recon {
  color: #2cbf81;
  border: solid 1px #2cbf81;
}
